.app-container {
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #fefefe;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background: radial-gradient(#f79d00, #64f38c);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  min-height: 100vh;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #333;
  font-size: 60px;
  border: 3px solid #333;
  display: inline-block;
  margin: 5px auto;
  padding: 10px;
  box-shadow: 0 0 10px white;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px white;
  }
  to {
    box-shadow: 0 0 25px #0088ff;
  }
}

.brand-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #555;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #444;
}

.shoe-card-container:hover:not(.flipped) .shoe-card-front {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: box-shadow 300ms ease;
}

.header {
  width: 100vw;
  background: linear-gradient(to right, #ff4e50, #f9d423);
  padding: 2rem 1rem;
  text-align: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.retailers {
  font-weight: 600;
  margin-top: 1rem;
  color: #333;
  font-size: 1.1rem;
}

.buy-button {
  display: inline;
  background-color: #009c1d;
  padding: 4px 12px;
  font-size: medium;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #01cc37;
  color: white;
}

.shoe-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.shoe-card-container {
  perspective: 1000px;
  width: 310px;
  height: 500px;
  margin: 0 auto;
}

.shoe-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.shoe-card-container.flipped .shoe-card-inner {
  transform: rotateY(180deg);
}

.shoe-card-front,
.shoe-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 12px rgba(111, 66, 193, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

.shoe-card-back {
  transform: rotateY(180deg);
  overflow-y: auto;
}


.shoe-img {
  max-height: 200px;
  object-fit: contain;
  border-radius: 1rem;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem auto;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
